
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>部门管理平台</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

<link href="{{ url_for('static',filename='department/base/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='department/base/css/materialdesignicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='department/base/css/style.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static',filename='department/base/js/jconfirm/jquery-confirm.min.css') }}">

{% block head %}

{% endblock head %}
</head>

<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">

      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <h1 style="color: aliceblue;">部门管理平台</h1>
      </div>

      <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item active"> <a href="{{ url_for('department.index') }}"> 后台首页</a> </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="{{ url_for('department.mypage') }}">部门信息</a>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="{{ url_for('department.newslist') }}">我的发布</a>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="{{ url_for('department.addnews') }}">发布新闻</a>

            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="{{ url_for('department.commentmanage') }}">评论管理</a>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="{{ url_for('department.user') }}">部门用户</a>
            </li>
              <li class="nav-item nav-item-has-subnav">
              <a href="{{ url_for('department.updatepwd') }}">修改密码</a>
            </li>
          </ul>
        </nav>

        <div class="sidebar-footer">
          <p class="copyright">Copyright &copy; 2020.  All rights <a href="http://www.bootstrapmb.com/">reserved</a>. </p>
        </div>
      </div>

    </aside>
    <!--End 左侧导航-->

    <!--头部信息-->
    <header class="lyear-layout-header">

      <nav class="navbar navbar-default">
        <div class="topbar">

          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 后台首页 </span>
          </div>

          <ul class="topbar-right">
            <li class="dropdown dropdown-profile">
              <a href="javascript:void(0)" style="float: left" data-toggle="dropdown">
                <img class="img-avatar img-avatar-48 m-r-10" src="{{ url_for('static',filename='department/base/images/avatar.jpg') }}" alt="管理员" />
                    <span>部门账号</span>
                    <span >{{ g.department.email }} <span class="caret"></span></span>
<!-- {#                  <span style="color: white">xxxxxx</span>#} -->
                      <a style="display: inline-block" href="{{ url_for('department.logout') }}">
                          <span style="float: left;padding: 12px 20px" >
                                 退出
                          </span>
                      </a>
              </a>
            </li>
          </ul>

        </div>
      </nav>

    </header>
    <!--End 头部信息-->

    <!--页面主要内容-->
    <main class="lyear-layout-content">
    {% block main %}
    
    {% endblock %}
    </main>
    <!--End 页面主要内容-->

    
  </div>
</div>

{% block js %}

{% endblock %}

<script type="text/javascript" src="{{ url_for('static',filename='department/base/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='department/base/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='department/base/js/perfect-scrollbar.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='department/base/js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='department/base/js/jconfirm/jquery-confirm.min.js') }}"></script>

</body>
</html>