{% extends 'front/base.html' %} 
{% block main_left %}
<div class="container-fluid">
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-toolbar clearfix">
            <div class="toolbar-btn-action">
              
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>问题</th>
                    <th>提问人</th>
                    <th>我的回答</th>
                    <th>回答时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  {% for answer in g.answers %} 
                  {% if answer.is_delete == 0 and answer.user.id == g.current_user.id  %}
                  <tr class="tr" data-id="{{ answer.id }}" data-title="{{ answer.question.title }}" data-content="{{ answer.question.content }}" data-answer="{{ answer.content }}">
                    <td class="number"></td>
                    <td>{{ answer.question.title }}</td>
                    <td>{{ answer.question.user.name }}</td>
                    <td>{{ answer.content }}</td>
                    <td>{{ answer.addtime }}</td>
                    <td>
                       
                        <button type="button" class="btn btn-primary btn-sm edit-btn" data-toggle="modal" data-target="#myModal">
                            修改
                        </button>
                        
                          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <form action="" method="post">  
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">标题</h4>
                                </div>
                                
                                <div class="modal-body">
                                    <!-- 我的内容 -->
                                    
                                    
                                    <input type="hidden" name="answer_id" value=""/>
                                    <div class="form-group col-md-12">
                                        <label for="title">问题</label>
                                        <input type="text" class="form-control" id="title" name="title"  value="" disabled />
                                    </div>
        
                                    <div class="form-group col-md-12">
                                        <label for="seo_description">问题内容</label>
                                        <textarea class="form-control" id="seo_description" name="content" rows="2"
                                                   placeholder="问题内容" disabled></textarea>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="seo_description">我的回答</label>
                                        <textarea class="form-control"  name="answer" rows="3"
                                                   placeholder="暂时没有回复"></textarea>
                                    </div>
                                
                                
                                
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                  <button type="button" class="btn btn-primary " id='modal-confirm-btn'>确认修改</button>
                                </div>
                              </div>
                            </div>
                          </div>


                        
                          <button type="button" class="btn btn-danger btn-sm delete-btn" data-toggle="modal" data-target="#myDelModal">
                            删除
                        </button>
                          
                          <div class="modal fade" id="myDelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">确认删除这条回复！</h4>
                                </div>
                                <div class="modal-body">
                                    <h4 class="modal-title" id="myModalLabel">删除后将不能恢复</h4>
                                    </div>

                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                  <button type="button" class="btn btn-primary " id='delete-confirm-btn'>确认删除</button>
                                </div>
                              </div>
                            </div>
                          </div>


                        
                      </form>
                    </td>
                  </tr>
                  {% endif %} {% endfor %}
                </tbody>
              </table>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Button trigger modal -->
</div>

<!-- Modal -->

{% endblock %} {% block js %}
<script>

  // {#    新闻列表序号增减#}
  $(function() {
    function number() {
      for (var i = 0; i <= $(".tr").length; i++) {
        $(".number").get(i).innerHTML = i + 1;
      }
    }

    number();
    
  });


// 给模态框添加默认值
  $(function(){
    $(".edit-btn").click(function(event){
        event.preventDefault();
        var self = $(this);
        var dialog = $("#myModal");

        var tr = self.parent().parent();
        
        var answer_id = tr.attr("data-id");
        var title = tr.attr("data-title");
        var content = tr.attr("data-content");
        var answer = tr.attr("data-answer")


      
        $("input[name=answer_id]").val(answer_id);
        $('input[name=title]').val(title);
        $('textarea[name=content]').get(0).innerHTML = content;
        $('textarea[name=answer]').get(0).innerHTML = answer;
        

        //   数据发送
    
    $("#modal-confirm-btn").click(function(event){
        event.preventDefault();
       
            
        var answer_id = $("input[name=answer_id]").val();
        var answer = $('textarea[name=answer]').val();



        $.ajax({
            url:'/myanswer/',
            type:'post',
            data:{
                answer_id:answer_id,
                answer:answer
            },
            success:function(data){
                // console.log(data);
                if(data === "修改成功"){
                    alert("修改成功！")
                  window.location.href = '/myanswer/'
                }
            },
            fail:function(errors){
                // console.log("shibai")
                console.log(errors)
            }
        })
      })
    })
  });


// 点击删除后的操作
$(function(){
    $(".delete-btn").click(function(event){
        event.preventDefault();
        var self = $(this);
        var tr = self.parent().parent();
        var answer_id = tr.attr("data-id");
    
        $('#delete-confirm-btn').click(function (event) {
            event.preventDefault();
            $.ajax({
                url:'/myanswer/',
                type:'post',
                data:{
                  is_delete:1,
                  answer_id:answer_id
                },
                success:function(data){
                    if(data === "删除成功"){
                      window.location.href = '/myanswer/';
                    }
                },
                fail:function(){

                  }
                })
            })
        })
})

</script>
{% endblock %}
