<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>超级管理员</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='front/login/css/style.css') }}"
    />
  </head>
  <body>
   
   
  
      <div class="container">

        <div class="header">
          <h2>超级管理员</h2>
        </div>
        <form id="form" class="form" method="post">
          <!-- <div class="form-control">
            <label for="username">用户名</label>
            <input type="text" placeholder="用户名" id="username" />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
          </div> -->
          <div class="form-control">
            <label for="username">用户名</label>
            <input type="text" placeholder="请输用户名" name='name' id="name" />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
          </div>
          <div class="form-control">
            <label for="username">密码</label>
            <input type="password" placeholder="密码" name='password' id="password" />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
          </div>
          <!-- <div class="form-control">
            <label for="username">确认密码</label>
            <input type="password" placeholder="确认密码" id="password2" />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
          </div> -->
          <button id='login-btn'>登录</button>
        </form>

          <!-- <p style="text-align: center;margin-top: 0;"><a href="{{ url_for('front.regist') }}" style="text-decoration: none;"> 没有账户，点击注册！</a></p> -->
      </div>
  

    
  </div>
  <script src="{{ url_for('static',filename='front/base/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='front/login/js/script.js') }}"></script>
  <script>
    $(function(){
      $('#login-btn').click(function(event){
        event.preventDefault();
        var admin = $('input[name=name]').val();
        var password = $('input[name=password]').val();
        console.log(admin);

        $.ajax({
          url:'/sp/login/',
          type:'post',
          data:{
            admin:admin,
            password:password
          },
          success:function(data){
            alert(data);
            if(data === '登录成功'){
              window.location.href = '/sp/'
            }
          },
          fail:function(errors){
            console.log(console.error(s)
            )
          }
        })
      })
    })


  </script>

  </body>
</html>
